@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #509a5e;
  border-radius: 10px;
  cursor: grab;
}

/*
loaders css
*/
.loader {
  position: relative;
  animation: move1 3s ease-in infinite alternate;
}
.loader:before {
  content: "";
  display: block;
  font-size: 0;
  width: 48px;
  height: 48px;
  background-color: #2ce90b;
  background-image: radial-gradient(
      circle 12px at 22px 22px,
      #ff3d00 100%,
      transparent 0
    ),
    radial-gradient(circle 10px at 6px 40px, #ff3d00 100%, transparent 0),
    radial-gradient(circle 14px at 31px -6px, #ff3d00 100%, transparent 0),
    radial-gradient(circle 5px at 40px 30px, #ff3d00 100%, transparent 0);
  border-radius: 50%;
  animation: move2 1s linear infinite;
}
.loader:after {
  content: "";
  position: absolute;
  top: 0%;
  transform: translate(-50%, -100%);
  left: 50%;
  width: 24px;
  height: 12px;
  background: rgb(255, 0, 0);
  border-radius: 50px 50px 0 0;
}

@keyframes move1 {
  0%,
  60% {
    transform: rotate(-10deg);
  }
  100%,
  30%,
  80% {
    transform: rotate(5deg);
  }
}
@keyframes move2 {
  100% {
    transform: rotate(360deg);
  }
}
